@import url('https://fonts.googleapis.com/css2?family=Aldrich&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

:root {
    --white: #FFF;
    --black: #000000;
    --pink: #F72585;
    --yellow: #FAFF02;
    --dark-purple: #050441;   
}

body {
    color: var(--yellow);
    font-family: 'Aldrich', sans-serif;
    background-image: url("./assets/background-tijolo.png");
}

.msgErrs {
    color: var(--pink);
}